
body{
	background-color: #333333;
	padding: 0px 20px 0px 20px;
}

header, nav, section, footer, article, aside{
	background-color: #666666;
	text-align: center;
	border-radius: 20px;
}

header{
	height: 100px;
	margin-bottom: 25px;
  margin-top: 10px;
}

aside, nav, section{
	height: 470px;
	float: left;
	margin-bottom: 25px;
}

section{
	padding: 0px 20px 0px 20px;
	margin-left: 1%;
	margin-right: 1%;
	width: 40%;
}

aside,nav{
	width: calc(29% - 20px);
}

section header,
section article,
section footer{
	background-color: #999999;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px 0px 10px 0px;

}

section header,
section footer{
	height: 80px;
	padding-top: 5px;
}

section article{
	height: 200px;
	padding: 10px 10px 10px 10px;
}

section header{
	margin-top: 20px;
}

footer{
	clear: both;
	width: 100%;
	height: 75px;
}

header, footer, aside, nav{
  background-color: orange;
}

*{
  font-family: cursive;
  font-size: 14px;

}

header, footer{
  text-align: center;
}

.header{
	font-size: 46px;
}

.footer{
	font-size: 10px;
}

.content{
	font-size: 14px;
}

.navigation{
	font-size: 12px;
}

.sidebar{
	font-size: 10px;
}

[class$="r"]{
	background-color: magenta;
}

[class*="a"]:not([class$="r"]){
    background: blue;
}

[class] {
  font-weight: bold;
}

footer[style] {
   background: green !important;
}



/*
Exercises:
1. Add background to the header, footer, aside and nav.
2. Add a global font definition (at html element) with a value of 14px, using a font-family you like.
3. Center the header and footer text.
*/
