*{
  box-sizing: border-box;
}
html{
  height:100%;
}
h1{
  color: black;
  text-align: left;
  font-family:sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}
h2{
  float: right;
  color: black;
  font-weight:normal;
  font-style: oblique;
  padding-left: 600px;
  padding-right: 200px;
}
a{
  color:black;
}
header{
  height: 130px;
  background-color: light-gray;
  font-family: sans-serif;
  color:black;
  font-size: 17px;
  padding-top: 50px;
  padding-right: 20em;
  padding-left: 30em;
  text-align: left;
}

body{
  color: #fff;
  font-family: 'Nunito Semibold';
  text-align: center;
  background-color: lightgray;
}

#content{
  padding-top: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
  display: grid;
  max-width: 80%;
  margin: 0 auto;
}

div p{
  opacity: 0;
  position: absolute;
  overflow: hidden;
}

.one{
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-image: url(img/01.jpg);
  background-size: cover;
  background-position: top-right;
  transition: all ease-in-out 200ms;
  position: relative;
  overflow:hidden;

}
.one:hover{
  background-blend-mode:multiply;
  background-color: gray;
  background-position: center;
}

p#paraph{
  font-size: 21px;
  font-style: italic;
  position: absolute;
  margin-left: -70px;
  transition: all ease-in-out 400ms;
}
.one:hover p#paraph{
  opacity:0.75;
  margin-left: 50px;
}

.two{
  grid-column: 5 / 6;
  grid-row: 1 / 3;
  background-image: url(img/02.jpg);
  background-size: cover;
  background-position: top-right;
  transition: all ease-in-out 400ms;
  position: relative;
  overflow:hidden;
}
.two:hover{
  background-blend-mode:multiply;
  background-color: gray;
  background-position: center;
  background-position: top;
}
p#paraph2{
  font-size: 21px;
  font-style: italic;
  position: absolute;
  margin-left: -70px;
  transition: all ease-in-out 400ms;
  text-align: left;
  padding-right: 30%;
}
.two:hover p#paraph2{
  opacity:0.75;
  margin-left: 30px;
}

.three{
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  background-image: url(img/03.jpg);
  background-size: cover;
  background-position: top-right;
  transition: all ease-in-out 200ms;
  position: relative;
  overflow:hidden;
}
.three:hover{
  background-blend-mode:multiply;
  background-color: gray;
  background-position: center;
  background-position: top;
}
p#paraph3{
  font-size: 21px;
  font-style: italic;
  position: absolute;
  margin-left: -70px;
  transition: all ease-in-out 400ms;
}
.three:hover p#paraph3{
  opacity:0.75;
  margin-left: 50px;
}
.four{
  grid-column: 4 / 6;
  grid-row: 3 / 5;
  background-image: url(img/04.jpg);
  background-size: cover;
  background-position: top-right;
  transition: all ease-in-out 200ms;
  position: relative;
  overflow:hidden;
}
.four:hover{
  background-blend-mode:multiply;
  background-color: gray;
  background-position: center;
}
p#paraph4{
  font-size: 21px;
  font-style: italic;
  position: absolute;
  margin-left: -70px;
  transition: all ease-in-out 400ms;
}
.four:hover p#paraph4{
  opacity:0.75;
  margin-left: 50px;
}
.five{
   grid-column: 6 / 7;
   grid-row: 1 / 5;
   background-image: url(img/05.jpg);
   background-size: cover;
   background-position: top-right;
   transition: all ease-in-out 600ms;
   position: relative;
   overflow:hidden;
}
.five:hover{
  background-blend-mode:multiply;
  background-color: gray;
  background-position: center;
}
p#paraph5{
  font-size: 21px;
  font-style: italic;
  position: absolute;
  margin-left: -70px;
  transition: all ease-in-out 400ms;
  padding-right: 40%;
}
.five:hover p#paraph5{
  opacity:0.75;
  margin-left: 40px;
}
.six{
  grid-column:1 / 4;
  grid-row: 3 / 5;
  background-image: url(img/06.jpg);
  background-size: cover;
  background-position: top-right;
  transition: all ease-in-out 400ms;
  position: relative;
  overflow:hidden;
}
.six:hover{
  background-blend-mode:multiply;
  background-color: gray;
  background-position: center;
}
p#paraph6{
  font-size: 21px;
  font-style: italic;
  position: absolute;
  margin-left: -70px;
  transition: all ease-in-out 400ms;
}
.six:hover p#paraph6{
  opacity:0.75;
  margin-left: 70px;
}
#content div{
  border: 1 solid;
  padding: 30px;
}
footer{
  text-align:center;
  font-family:sans-serif;
  font-size: 15px;
  padding-top: 40px;
  color: black;
  font-weight: bold;
}
