html {
  font-family: Sans-serif;
}

h1 {
  margin: 1%;
}

.container {
  clear: both;
  background: white;
  display: block;
  float: left;
  width: 100%;
  padding: 8px;
}

.third {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: -ms-calc(33.3333% - 16px);
  width: -moz-calc(33.3333% - 16px);
  width: -webkit-calc(33.3333% - 16px);
  width: calc(33.3333% - 16px);
  margin: 8px;
  height: auto;
  position: relative;
  float: left;
}

.gallery-grid img {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
}

.screen {
  background-color: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
  border-radius: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.screen:hover {
  opacity: 1
}

.title {
  color: #fff;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  margin-left: -30px;
}

.screen:hover .title {
  margin-left: 0;
}

p {
  font-size: 2em;
  padding: 5%;
}

.screen.fade-in .title {
  margin-left: 0;
}

.screen.fade-in:hover {
}

img {
  width: 100%;
}

.row:before,
.row:after {
  display: table;
  clear: both;
}

/* MEDIA QUERIES */

@media screen and (max-width: 950px) and (min-width: 600px) {

  .third {
    width: -ms-calc(50% - 16px);
    width: -moz-calc(50% - 16px);
    width: -webkit-calc(50% - 16px);
    width: calc(50% - 16px);
  }
}

@media screen and (max-width: 600px) {

  .third {
    width: -ms-calc(100% - 16px);
    width: -moz-calc(100% - 16px);
    width: -webkit-calc(100% - 16px);
    width: calc(100% - 16px);
  }

  p {
    font-size: 30px;
  }
}

